<div class="page-header">
    <div class="page-breadcrumbs">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="">Home</a>
            </li>
            <li class="list-inline-item">
                /
            </li>
            <li class="list-inline-item">
                <a href="">Issue</a>
            </li>
        </ul>
    </div>
    <div class="page-title">
        <h1>Issues</h1>
    </div>
</div>
<issue-add></issue-add>
<issue-list></issue-list>
