<div class="page-header">
    <div class="page-breadcrumbs">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="">Home</a>
            </li>
            <li class="list-inline-item">
                /
            </li>
            <li class="list-inline-item">
                <a href="">Worklog</a>
            </li>
        </ul>
    </div>
    <div class="page-title">
        <h1>Worklog</h1>
    </div>
</div>
<worklog-add></worklog-add>
<worklog-list></worklog-list>



    