<div>
    <ngb-accordion #acc="ngbAccordion">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span text-secondary><h5><b>Issue List</b></h5></span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="text-center text-secondary font-italic">
                                <th>#</th>
                                <th>Issue Type</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Original Estimation</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let issue of issueList;let i=index;" class="text-center">
                                <td>{{i+1}}</td>
                                <td>{{issue.issueType}}</td>
                                <td>{{issue.title}}</td>
                                <td>{{issue.description}}</td>
                                <td>{{issue.originalEstimation}}</td>
                                <td>
                                    <div ngbDropdown>
                                        <button class="btn btn-outline-secondary" id="dropdownConfig" ngbDropdownToggle>Action</button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                                        <button class="dropdown-item" (click)="editIssue(i)">Edit</button>
                                        <button class="dropdown-item" (click)="deleteIssue(i)">Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>
